[submodule "moonshine"]
	path = moonshine
	url = https://github.com/SpeckyYT/moonshine.git
	ignore = all
[submodule "hump"]
	path = hump
	url = https://github.com/vrld/hump.git
	ignore = all
[submodule "mlib"]
	path = mlib
	url = https://github.com/davisdude/mlib.git
	ignore = all
[submodule "Konami"]
	path = Konami
	url = https://github.com/Tjakka5/Konami.git
	ignore = all
